* {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.wrapper {
    min-width: 980px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.main-nav, .news, .page-footer {
    background-color: gray;
}

.logotip {
    border-radius: 8px;
    padding: 0;
    margin: 0;
}

.page-header-top {
    padding: 45px 210px 50px 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e0dddd;
}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 40px;
}

.phone>a {
    color: gray;
    font-size: 23px;
    font-weight: bold;
}

h1, h2, h3, span, p {
    color: gray;
}

span {
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: white;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
}

.item-link {
    color: white;
    font-size: 14px;


}

.list-item:not(:last-child) {
    border-right: white solid 1px;
}
.list-item{
    padding-right: 25px;
    padding-left: 25px;
}

/* .slide {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
     min-width: 1500px; */

/* .slider-buttons {
    position: absolute;
    right: 46px;
    bottom: 40px;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.slider-button {
    cursor: pointer;
}

.swiper {
    position: relative;
} */

.slide-photo {
    background-image: url("/img/slider.png");
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    margin: 48px 210px 195px 210px;
}

.news {
    position: relative;
    color: white;
    padding: 2px 50px 34px 34px;
    min-width: 350px;
   
}

.news>p {
    color: white;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.news>h2 {
    font-size: 30px;
    color: white;
}

.data {
    display: block;
    padding: 0px;
    font-style: italic;
    margin-top: 30px;
}

.archive {
    position: absolute;
    right: 50px;
    bottom: 30px;
}

.activity {
    display: flex;
}

h2 {
    font-size: 20px;
}
.company {
    /* max-width: 570px; */
    /* width: 100%; */
    margin-left: 60px;
}

.left-text {
    margin-right: 45px;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 220px;
    padding: 50px 210px 50px 210px;

}

.mail {
    display: block;
}

.footer-nav-item {
    line-height: 25px;
}

@media (max-width: 1048px){
    .sale  {
        order: 5;
    }
}
